---
import logo from '/assets/cm-logo-2021.svg'
---

<header class="site-header | color-light">
    <a href="/" class="site-header__logo">
      <div>
        <img src={logo} alt="corner mindscape logo"/>
      </div>
       <h1><strong>CORNER</strong> MINDSCAPE</h1>
       <span>Connecting Words and Pictures</span>
    </a>

      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="">About</a>
          </li>
          <li>
            <a href="">Contact</a>
          </li>
        </ul>
    </nav>

</header>
